.availableCryptocurrencies {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 982px) {
  .availableCryptocurrencies {
    margin: 1rem 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .availableCryptocurrencies {
    display: block;
  }
}
