.header {
  margin: 2rem 0;
  padding: 1rem;
  background: linear-gradient(
    90deg,
    rgb(109, 111, 112) 0%,
    rgba(130, 120, 143, 0.897) 25%
  );
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search {
  background: #fff;
  width: 50%;
  display: flex;
  justify-content: space-between;
  border-radius: 0.4rem;
  border: 1px solid;
}

.header h1 {
  font-size: 1.8rem;
}

.header input {
  flex: 1;
  padding: 0.4rem 0.8rem;
  outline: none;
  border: none;
}

.header button {
  padding: 0.5rem 0.85rem;
  border-radius: 0.4rem;
  margin: 0.5rem;
}

.header button:hover {
  cursor: pointer;
}
