.header {
  margin: 2rem 0;
  padding: 1rem;
  background: linear-gradient(
    90deg,
    rgb(109, 111, 112) 0%,
    rgba(130, 120, 143, 0.897) 25%
  );
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  display: flex;
  flex: 1;
  align-items: center;
}

.header__search {
  background: #fff;
  width: 50%;
  display: flex;
  justify-content: space-between;
  border-radius: 0.4rem;
  border: 1px solid;
}

.header__right h1,
.header__right h3 {
  padding: 0.6rem 0.8rem;
  margin-right: 1rem;
  background: #8f5c84;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  transition: ease-in-out 0.3s;
}

.header input {
  flex: 1;
  padding: 0.4rem 0.8rem;
  outline: none;
  border: none;
}

.header .btnSubmit {
  padding: 0.5rem 0.85rem;
  margin: 0.5rem;
  background: #8f5c84;
  color: #fff;
  border-radius: 0.4rem;
}

.header .btnSubmit:hover {
  cursor: pointer;
}

.header__right h1:hover,
.header__right h3:hover,
.header .btnSubmit:hover {
  background: #7a306a;
}

@media screen and (max-width: 982px) {
  .header__search {
    width: 40%;
  }
}

@media screen and (max-width: 825px) {
  .header {
    flex-direction: column;
  }

  .header__right {
    margin-bottom: 1rem;
    width: 100%;
  }

  .header__search {
    width: 100%;
  }
}

@media screen and (max-width: 605px) {
  .header__right {
    display: block;
    margin-bottom: 1rem;
  }

  .header__right > * {
    display: block;
    margin-bottom: 1rem;
  }
}
