.mainFooter {
  margin-top: auto;
  padding: 2rem;
  background: #615f5f;
  text-align: center;
  color: #fff;
}

.mainFooter a {
  transition: ease-in-out 0.3s;
}

.mainFooter a:hover {
  color: #f79427;
}

@media screen and (max-width: 500px) {
  .mainFooter {
    padding: 1.5rem 0.4rem;
    font-size: 0.85rem;
  }
}
