:root {
  background: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
}

a {
  text-decoration: none;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.badge {
  background: #77a0cf;
  color: #fff;
  padding: 0.5rem 0.6rem;
  font-weight: 700;
}

.backLink {
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.backLink > a {
  background: #77a0cf;
  display: inline-block;
  padding: 1rem;
  border-radius: 50%;
  font-weight: 700;
}
